<template>
    <div>
        <input type="text" class="todo-input" id="new-todo-input" placeholder="What needs to be done" v-model="newTodo">
        <button id="add-todo-btn" class="add-todo-btn" @click="addTodo">Add</button>
        <div id="todo-items">
            <todo-item v-for="todo in todoList" :key="todo.id" :todo="todo" @removedTodo="deleteTodo(todo)"/>
        </div>
    </div>
</template>

<script>
    import TodoItem from "./TodoItem";
    import axios from "axios"
    export default {
        name: 'todo-list',
        components: {TodoItem},
        props: {
        },
        data(){
            return {
                newTodo: '',
                todoList: []

            }
        },
        created() {
            this.getTodos()
        },
        methods: {
            addTodo(){
                if(this.newTodo.length == 0){
                    return;
                }

                let todo = {
                    'title': this.newTodo,
                }

                axios.post(process.env.VUE_APP_API_BASE_URL, todo)
                    .then(response => {
                        this.todoList.push(response.data)
                    })
                    .catch(error => {
                        //this.errors.push(error);
                        alert(error)
                    });
                this.newTodo = ''
            },
            getTodos(){
                axios.get(process.env.VUE_APP_API_BASE_URL)
                    .then(response => {
                        this.todoList = response.data
                    })
                    .catch(error => {
                        alert(error)
                    })
            },
            deleteTodo(todo){
                const index = this.todoList.findIndex(item => item.id == todo.id)
                this.todoList.splice(index, 1)
            },
        }
    }
</script>

<style lang="scss">
    .todo-input {
        width: 80%;
        padding: 10px 18px;
        font-size: 18px;
        margin-bottom: 16px;

        &:focus {
            outline: 0;
        }
    }

    .add-todo-btn {
        width: 18%;
        padding: 10px 18px;
        font-size: 18px;
        margin-bottom: 16px;
        margin-left: 2%;
        background: white;
    }

</style>