<template>
    <div class="todo-item">
        <div class="todo-item-label" :class="{completed: this.completed}" @click="updateStatus(todo)">{{this.title}}</div>
        <div class="remove-todo-item" @click="removeTodo">&times;</div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'todo-item',
        props: {
            todo: {
                type: Object,
                required: true
            }
        },
        data(){
            return {
                'id': this.todo.id,
                'title': this.todo.title,
                'completed': this.todo.completed
            }
        },
        methods: {
            removeTodo(){
                let id = this.id
                this.$emit('removedTodo', this.todo)
                axios.delete(process.env.VUE_APP_API_BASE_URL + id)
            },
            updateStatus(){
                let request = {
                    'title': this.title,
                    'completed': !this.completed
                }
                axios.put(process.env.VUE_APP_API_BASE_URL + this.id, request)
                .then(response => {
                    this.completed = response.data.completed
                })
            }
        },
    }
</script>

<style lang="scss">
    .remove-todo-item {
        cursor: pointer;
        margin-left: 14px;
        &:hover{
            color: black;
        }
    }

    .todo-item-label {
        padding: 10px;
        border: 1px solid white;
        margin-left: 12px;
    }

    .todo-item {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .completed {
        text-decoration: line-through;
        color: grey;
    }

</style>